.loginContainer{
    width: 80%;
    background-color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.loginContainer form {
    width: 30%;
}

.loginContainer label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.loginContainer input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.loginContainer input[type="submit"] {
    background-color: #3498db; /* Color azul para el botón de enviar */
    color: white;
    cursor: pointer;
}

.loginContainer input[type="submit"]:hover {
    background-color: #2980b9; /* Cambia el color al pasar el ratón sobre el botón */
}

.loginContainer h3 {
    margin-top: 10px;
    color: #27ae60; /* Color verde para el texto del usuario identificado */
}
.loginContainer textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    resize: vertical; /* Permite la redimensión vertical del textarea */
}
