
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    height: auto;
}

header h1 {
    margin: 0;
}

header h2 {
    margin-top: 1.3vh;
    color: yellow;
}


nav {
    text-align: center;
    margin-top: 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
    margin: 0 15px;
    display: inline-block;/* Para evitar problemas de alineación */
}

@media only screen and (max-width: 767px) {
    header {
        padding: 10px;
    }

    nav a {
        margin: 0 10px;
    }
}
